.container {
  text-align: center;
}

.content-container {
  max-width: 960px;
  padding: 48px 24px 0;
  margin: 0 auto;
  h1 {
    font-size: calc(0.8vw + 20px);
    line-height: calc(0.8vw + 20px);
    color: #61dafb;
  }
  .title .content {
    display: flex;
    flex-direction: column;
    Button {
      align-self: flex-end;
    }
  }
}
