$max-width: 960px;

.container {
  text-align: left;
  max-width: 960px;
  padding: 48px 24px 0;
  margin: 0 auto;
}

.list-container {
  max-width: $max-width;
}

.item-title {
  font-size: large;
  font-weight: bold;
}